### 문제.1

In [117]:
import numpy as np
import pandas as pd

In [118]:
filename = 'data/서울시 자치구 년도별 CCTV 설치 현황_221231기준.csv'
cctv = pd.read_csv(filename, encoding='euc-kr')
cctv.head()

,구분,총계,2013년 이전 설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년,...,Unnamed: 16374,Unnamed: 16375,Unnamed: 16376,Unnamed: 16377,Unnamed: 16378,Unnamed: 16379,Unnamed: 16380,Unnamed: 16381,Unnamed: 16382,Unnamed: 16383
0,계,"91,341","2,804","3,097","3,981","6,576","8,850","11,566","11,024","13,151",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,종로구,"1,980",36,540,107,161,131,158,152,69,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,중 구,"2,584",130,87,77,236,240,372,386,155,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,용산구,"2,847",44,50,68,83,295,491,115,322,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,성동구,"4,047",58,99,110,366,279,945,459,647,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [119]:
columns = '구분,총계,2013년 이전 설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년'.split(',')
cctv = cctv[columns]
cctv.head()

,구분,총계,2013년 이전 설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년
0,계,"91,341","2,804","3,097","3,981","6,576","8,850","11,566","11,024","13,151","11,912","9,144","9,236"
1,종로구,"1,980",36,540,107,161,131,158,152,69,250,85,291
2,중 구,"2,584",130,87,77,236,240,372,386,155,361,403,137
3,용산구,"2,847",44,50,68,83,295,491,115,322,623,422,334
4,성동구,"4,047",58,99,110,366,279,945,459,647,485,367,232

In [120]:
cctv.drop(0, inplace=True)
cctv.head(3)

,구분,총계,2013년 이전 설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년
1,종로구,"1,980",36,540,107,161,131,158,152,69,250,85,291
2,중 구,"2,584",130,87,77,236,240,372,386,155,361,403,137
3,용산구,"2,847",44,50,68,83,295,491,115,322,623,422,334

In [121]:
cctv.rename(columns={"구분": "구별", "총계": "CCTV 댓수"}, inplace=True)
cctv.head(3)

,구별,CCTV 댓수,2013년 이전 설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년
1,종로구,"1,980",36,540,107,161,131,158,152,69,250,85,291
2,중 구,"2,584",130,87,77,236,240,372,386,155,361,403,137
3,용산구,"2,847",44,50,68,83,295,491,115,322,623,422,334

In [123]:
for col in columns[2:]:
    cctv[col] = cctv[col].str.replace(',','').astype(int)
cctv.head()

,구별,CCTV 댓수,2013년 이전 설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년
1,종로구,"1,980",36,540,107,161,131,158,152,69,250,85,291
2,중 구,"2,584",130,87,77,236,240,372,386,155,361,403,137
3,용산구,"2,847",44,50,68,83,295,491,115,322,623,422,334
4,성동구,"4,047",58,99,110,366,279,945,459,647,485,367,232
5,광진구,"3,480",507,82,84,64,21,465,443,709,172,662,271

In [124]:
cctv['최근 증가율'] = ((cctv['2013년 이전 설치된 CCTV'] + cctv['2013년'] + cctv['2014년'] + cctv['2015년'] + cctv['2016년'] + cctv['2017년'] + cctv['2018년'] + cctv['2019년']) / (cctv['2020년'] + cctv['2021년']+ cctv['2022년']) * 100).round(2)
cctv.head(3)

,구별,CCTV 댓수,2013년 이전 설치된 CCTV,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년,최근 증가율
1,종로구,"1,980",36,540,107,161,131,158,152,69,250,85,291,216.29
2,중 구,"2,584",130,87,77,236,240,372,386,155,361,403,137,186.79
3,용산구,"2,847",44,50,68,83,295,491,115,322,623,422,334,106.45

In [125]:
del cctv['2013년 이전 설치된 CCTV'], cctv['2013년'], cctv['2014년'], cctv['2015년'], cctv['2016년'], cctv['2017년'], cctv['2018년'], cctv['2019년'], cctv['2020년'], cctv['2021년'], cctv['2022년']
cctv.head(3)

    구별 CCTV 댓수  최근 증가율
1  종로구   1,980  216.29
2  중 구   2,584  186.79
3  용산구   2,847  106.45

In [126]:
cctv.to_csv('data/cctv.csv')