### 문제.2

In [190]:
import numpy as np
import pandas as pd

In [191]:
filename = 'data/서울시인구.txt'
pop = pd.read_csv(filename, sep='\t', thousands=',')
pop.head()

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2021,합계,"4,426,007","9,736,027","4,721,977","5,014,050","9,509,458","4,618,040","4,891,418","226,569","103,937","122,632",2.15,"1,605,416"
3,2021,종로구,"73,494","153,789","74,186","79,603","144,683","70,183","74,500","9,106","4,003","5,103",1.97,"27,818"
4,2021,중구,"63,519","131,787","64,083","67,704","122,499","59,630","62,869","9,288","4,453","4,835",1.93,"24,392"

In [192]:
del pop['기간'], pop['세대'], pop['인구.1'], pop['인구.2'], pop['인구.4'], pop['인구.5'], pop['인구.7'], pop['인구.8'], pop['세대당인구']
pop.head()

   자치구         인구       인구.3     인구.6   65세이상고령자
0  자치구         합계        한국인    등록외국인   65세이상고령자
1  자치구          계          계        계   65세이상고령자
2   합계  9,736,027  9,509,458  226,569  1,605,416
3  종로구    153,789    144,683    9,106     27,818
4   중구    131,787    122,499    9,288     24,392

In [193]:
pop.drop([0, 1, 2],inplace=True)
pop.head()

   자치구       인구     인구.3    인구.6 65세이상고령자
3  종로구  153,789  144,683   9,106   27,818
4   중구  131,787  122,499   9,288   24,392
5  용산구  237,285  222,953  14,332   39,070
6  성동구  292,672  285,990   6,682   46,380
7  광진구  352,627  339,996  12,631   51,723

In [194]:
columns = '자치구,인구,인구.3,인구.6,65세이상고령자'.split(',')
for col in columns[1:]:
    pop[col] = pop[col].str.replace(',','').astype(int)
pop.head(3)

   자치구      인구    인구.3   인구.6  65세이상고령자
3  종로구  153789  144683   9106     27818
4   중구  131787  122499   9288     24392
5  용산구  237285  222953  14332     39070

In [195]:
pop['외국인비율'] = (pop['인구.6']/pop['인구']*100).round(2)
pop.head()

   자치구      인구    인구.3   인구.6  65세이상고령자  외국인비율
3  종로구  153789  144683   9106     27818   5.92
4   중구  131787  122499   9288     24392   7.05
5  용산구  237285  222953  14332     39070   6.04
6  성동구  292672  285990   6682     46380   2.28
7  광진구  352627  339996  12631     51723   3.58

In [196]:
pop['고령자비율'] = (pop['65세이상고령자']/pop['인구']*100).round(2)
pop.head(3)

   자치구      인구    인구.3   인구.6  65세이상고령자  외국인비율  고령자비율
3  종로구  153789  144683   9106     27818   5.92  18.09
4   중구  131787  122499   9288     24392   7.05  18.51
5  용산구  237285  222953  14332     39070   6.04  16.47

In [197]:
pop.columns='구별', '인구수', '내국인', '외국인', '고령자', '외국인비율', '고령자비율'
pop.head(3)

    구별     인구수     내국인    외국인    고령자  외국인비율  고령자비율
3  종로구  153789  144683   9106  27818   5.92  18.09
4   중구  131787  122499   9288  24392   7.05  18.51
5  용산구  237285  222953  14332  39070   6.04  16.47

In [198]:
pop.set_index('구별', inplace=True)
pop.head()

        인구수     내국인    외국인    고령자  외국인비율  고령자비율
구별
종로구  153789  144683   9106  27818   5.92  18.09
중구   131787  122499   9288  24392   7.05  18.51
용산구  237285  222953  14332  39070   6.04  16.47
성동구  292672  285990   6682  46380   2.28  15.85
광진구  352627  339996  12631  51723   3.58  14.67

In [199]:
pop.reset_index(inplace=True)
pop.head(3)

    구별     인구수     내국인    외국인    고령자  외국인비율  고령자비율
0  종로구  153789  144683   9106  27818   5.92  18.09
1   중구  131787  122499   9288  24392   7.05  18.51
2  용산구  237285  222953  14332  39070   6.04  16.47

In [200]:
pop.to_csv('data/pop.csv')