In [322]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [323]:
df = pd.read_csv('../04.지도시각화/data/전국도시공원정보표준데이터.csv',encoding='euc-kr')
df.head(3)

,관리번호,공원명,공원구분,소재지도로명주소,소재지지번주소,위도,경도,공원면적,공원보유시설(운동시설),공원보유시설(유희시설),공원보유시설(편익시설),공원보유시설(교양시설),공원보유시설(기타시설),지정고시일,관리기관명,전화번호,데이터기준일자,제공기관코드,제공기관명
0,11170-00048,녹색소공원,소공원,NaN,서울특별시 용산구 효창동 287-6,37.539217,126.962694,1569.9,NaN,NaN,NaN,NaN,NaN,2012-10-19,서울특별시 용산구청,02-2199-7605,2022-12-20,3020000,서울특별시 용산구
1,36110-00058,푸름샘 소공원(소1-1),소공원,세종특별자치시 마음안로 161,NaN,36.516117,127.233781,1820.0,NaN,NaN,앉음벽,NaN,실개천,2011-08-05,세종특별자치시 공원관리사업소,044-301-3613,2022-12-14,5690000,세종특별자치시
2,36110-00059,솔숲 소공원(소1-2),소공원,세종특별자치시 만남1북로 73,NaN,36.508995,127.230040,1037.0,NaN,조합놀이대+ 그네+ 시소+ 흔들놀이,의자+ 파고라,NaN,안내판,2011-08-05,세종특별자치시 공원관리사업소,044-301-3613,2022-12-14,5690000,세종특별자치시

In [324]:
df = df[['공원명','소재지지번주소','공원면적']]
df

                  공원명                소재지지번주소      공원면적
0               녹색소공원    서울특별시 용산구 효창동 287-6    1569.9
1       푸름샘 소공원(소1-1)                    NaN    1820.0
2        솔숲 소공원(소1-2)                    NaN    1037.0
3      마디꽃 수변공원(수1-1)                    NaN    4928.0
4        꽃 수변공원(수2-3)                    NaN    3575.0
...               ...                    ...       ...
17520              방배  서울특별시 서초구 방배동 686-201  210517.2
17521            말죽거리      서울특별시 서초구 서초동 산28  280822.6
17522             서리풀    서울특별시 서초구 방배동 산23-1  465938.3
17523              방배   서울특별시 서초구 방배동 산 43-7   74847.6
17524            말죽거리   서울특별시 서초구 양재동 산57-34  132020.3

[17525 rows x 3 columns]

In [325]:
df.dropna(subset=['소재지지번주소'], inplace=True)
df.isna().sum().sum()

0

In [326]:
df = df[df['소재지지번주소'].str.contains('경기도')]
df.head()

       공원명             소재지지번주소    공원면적
212  꿈나무공원      경기도 이천시 중리동 15  2526.0
213   남천공원     경기도 이천시 중리동 210  3830.0
214   향교공원     경기도 이천시 창전동 408  1757.0
215  개나리공원  경기도 이천시 창전동 414-13  1650.0
216  달맞이공원     경기도 이천시 창전동 423  1650.0

In [327]:
df['시군구'] = df.소재지지번주소.apply(lambda x: ''.join(x.split()[1]))
df.head(3)

       공원명          소재지지번주소    공원면적  시군구
212  꿈나무공원   경기도 이천시 중리동 15  2526.0  이천시
213   남천공원  경기도 이천시 중리동 210  3830.0  이천시
214   향교공원  경기도 이천시 창전동 408  1757.0  이천시

In [328]:
df.pivot_table('공원면적','시군구',aggfunc='sum')

            공원면적
시군구
가평군     511674.5
고양시    6932758.3
과천시     315666.0
광명시    3397531.0
광주시     786484.6
구리시     912756.3
군포시    1455419.2
김포시    5792950.0
남양주시   4770408.0
동두천시   3649712.0
부천시    2920135.3
성남시   11087868.1
수원시    7073310.8
시흥시    4250221.0
안산시    6137435.4
안성시     880564.0
안양시    1890270.0
양주시    2034792.0
양평군     687374.0
여주시     350087.9
연천군     237176.0
오산시    2271088.0
용인시    7381371.0
의왕시    2161464.2
의정부시   2249788.5
이천시    2025604.0
파주시    3820847.2
평택시    8095243.9
포천시    1825176.9
하남시    1676848.0
화성시    7339437.6

### 문항.2

In [329]:
df2 = pd.read_csv('../04.지도시각화/data/경기도_주민등록인구집계현황.csv',encoding='euc-kr')
df2.head(3)

,연도,월,행정구역구분명,행정구역명,총 인구수,0~9세,10~19세,20~29세,30~39세,40~49세,...,10~19세 (여),20~29세 (여),30~39세 (여),40~49세 (여),50~59세 (여),60~69세 (여),70~79세 (여),80~89세 (여),90~99세 (여),100세 이상 (여)
0,2022,12,도,경기도,13589432,1040954,1327726,1737291,1882300,2284603,...,647283,821150,904073,1121889,1133428,878494,437251,252711,44184,1369
1,2022,12,시군,경기도 가평군,62197,2930,4463,5929,5397,7589,...,2186,2503,2433,3525,5090,6439,3653,2408,411,13
2,2022,12,읍면동,경기도 가평군 가평읍,19555,1020,1673,2094,1795,2630,...,778,937,848,1244,1583,1805,1054,739,126,6

In [330]:
df2 = df2[['행정구역구분명','행정구역명','총 인구수']]
df2.head(3)

  행정구역구분명        행정구역명     총 인구수
0       도        경기도    13589432
1      시군     경기도 가평군      62197
2     읍면동  경기도 가평군 가평읍     19555

In [331]:
gu_city = ['수원시', '고양시', '용인시', '성남시', '안산시', '안양시']
df2.행정구역명 = df2.행정구역명.str.strip()
drop_index = []
for index in df2[df2.행정구역구분명 == '시군'].index:
    if df2.행정구역명[index].split()[-1] in gu_city:
        drop_index.append(index)
df2.drop(drop_index, inplace=True)
df2.head()

  행정구역구분명        행정구역명     총 인구수
0       도          경기도  13589432
1      시군      경기도 가평군     62197
2     읍면동  경기도 가평군 가평읍     19555
3     읍면동   경기도 가평군 북면      3815
4     읍면동   경기도 가평군 상면      5669

In [332]:
df2.drop(0)

    행정구역구분명         행정구역명  총 인구수
1        시군       경기도 가평군  62197
2       읍면동   경기도 가평군 가평읍  19555
3       읍면동    경기도 가평군 북면   3815
4       읍면동    경기도 가평군 상면   5669
5       읍면동   경기도 가평군 설악면   9679
..      ...           ...    ...
615     읍면동   경기도 화성시 팔탄면  10056
616     읍면동   경기도 화성시 향남읍  87298
617     읍면동   경기도 화성시 화산동  23784
618     읍면동  경기도 화성시동부출장소      0
619     읍면동  경기도 화성시동탄출장소      0

[613 rows x 3 columns]

In [333]:
df2 = df2[(df2.행정구역구분명 == '시군') | (df2.행정구역구분명 == '구')]
df2.head()

   행정구역구분명         행정구역명   총 인구수
1       시군       경기도 가평군   62197
9        구   경기도 고양시 덕양구  487874
31       구  경기도 고양시 일산동구  296590
44       구  경기도 고양시 일산서구  290738
56      시군       경기도 과천시   77775

In [334]:
df2['시군구'] = df2.행정구역명.apply(lambda x: ''.join(x.split()[1]))
df2.head()

   행정구역구분명         행정구역명   총 인구수  시군구
1       시군       경기도 가평군   62197  가평군
9        구   경기도 고양시 덕양구  487874  고양시
31       구  경기도 고양시 일산동구  296590  고양시
44       구  경기도 고양시 일산서구  290738  고양시
56      시군       경기도 과천시   77775  과천시

In [335]:
df2 = df2.set_index('시군구')
df2.head()

    행정구역구분명         행정구역명   총 인구수
시군구
가평군      시군       경기도 가평군   62197
고양시       구   경기도 고양시 덕양구  487874
고양시       구  경기도 고양시 일산동구  296590
고양시       구  경기도 고양시 일산서구  290738
과천시      시군       경기도 과천시   77775

In [336]:
sort_df = df[['공원면적','시군구']].groupby('시군구').sum()
sort_df.head()

          공원면적
시군구
가평군   511674.5
고양시  6932758.3
과천시   315666.0
광명시  3397531.0
광주시   786484.6

In [337]:
sort_df2=df2.sort_index()
sort_df2.head()

    행정구역구분명         행정구역명   총 인구수
시군구
가평군      시군       경기도 가평군   62197
고양시       구   경기도 고양시 덕양구  487874
고양시       구  경기도 고양시 일산동구  296590
고양시       구  경기도 고양시 일산서구  290738
과천시      시군       경기도 과천시   77775

In [338]:
df3 = pd.merge(left = sort_df2 , right = sort_df, how = "right", on = "시군구")
df3.head()

    행정구역구분명         행정구역명   총 인구수       공원면적
시군구
가평군      시군       경기도 가평군   62197   511674.5
고양시       구   경기도 고양시 덕양구  487874  6932758.3
고양시       구  경기도 고양시 일산동구  296590  6932758.3
고양시       구  경기도 고양시 일산서구  290738  6932758.3
과천시      시군       경기도 과천시   77775   315666.0

In [339]:
df3['인당 공원면적'] = df3['공원면적']/df3['총 인구수']
df3.head()

    행정구역구분명         행정구역명   총 인구수       공원면적    인당 공원면적
시군구
가평군      시군       경기도 가평군   62197   511674.5   8.226675
고양시       구   경기도 고양시 덕양구  487874  6932758.3  14.210141
고양시       구  경기도 고양시 일산동구  296590  6932758.3  23.374889
고양시       구  경기도 고양시 일산서구  290738  6932758.3  23.845381
과천시      시군       경기도 과천시   77775   315666.0   4.058708